/*#myCarousel .item {
	margin: 10px 30px;
}*/

#carousel-container-id{
	margin: 20px auto;

}

.carousel-inner{
	height: 180px;
}

#headline-id{
	margin: 50px 0px 30px 0px;
	padding: 30px 0px 30px 0px;
}

.carousel-indicators li{
	border: 1px solid black;
}

.carousel-indicators .active{
	background-color: black;
}

.mainlogo{
	padding-top: 15px;
}

#mc-embedded-subscribe-form{
	margin-bottom: 20px;
}

#mce-EMAIL{
	color: black;
}

.build-graph{
	width: 100%;
	height: auto;
}

.container > .navbar-header{
	margin-left: 0px;
	margin-right: 0px;
}

#vidDiv1{
}

.video {
  margin: 0 auto;
}