/*#myCarousel .item {
	margin: 10px 30px;
}*/

#carousel-container-id{
	margin: 20px auto;

}

.carousel-inner{
	height: 180px;
}

#headline-id{
	padding: 30px 0px 30px 0px;
}

.carousel-indicators li{
	border: 1px solid black;
}

.carousel-indicators .active{
	background-color: black;
}