#plugins{
	width: 100%;
}

.container.dark {
  background: #656565;
  color: white;
  border-radius: 8px;
}

#signup .row{
	margin-bottom:50px;
}

#signup .row:last-child{
	margin-bottom:0px;
	}	

.download-logo{
	width:100%;
}

.instruction .row{
	padding:25px 15px 15px 15px;
	text-align: left;
}

.row h1 {
	font-size:70px;
}

