@media (min-width: 768px) {
    .modal-dialog {
        width: 400px;
        margin: 18px 100px 18px auto;
        float: right;
    }
    /*.download-container .instruction {
        width: 540px;
    }*/
    .instruction .single-download-btn {
        padding: 5px 51px;
    }
    .navbar .container {
        width: 98%;
    }
}
@media (max-width: 767px) {
    .plan h1 {
        font-size: 24px
    }
    .plan h2, .download-container h3 {
        font-size: 20px
    }
    .quick-instruction p{
        font-size: 16px   
    }
    .navbar-nav > li > a.custom-signup, .custom-signup {
        margin-left: 0;
    }
    .container .navbar-collapse {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .contact-us-text {
        margin-top: 0;
    }
    .custom-heading {
        margin-top: 32px;
        font-size: 60px;
    }
    .download-container .custom-heading {
        margin-top: 72px;
    }
    .download-header-img {
        width: 64px;
        display: none;
    }
    .padding-left-right-zero {
        padding-right: 0;
        padding-left: 0;
    }
    .download-container .instruction {
        width: 89%;
        padding-left: 0;
        padding-right: 0;
    }
    .instruction .download-head-section {
        padding-bottom: 0;
    }
    .go-img {
        width: 67px;
        margin: 0 0 -8px 25px;
    }
}
@media (max-width: 700px) {
    .download-container .instruction h1 {
        font-size: 33px;
    }
    .instruction .custom-signup {
        font-size: 23px;
    }
}
@media (max-width: 556px) {
    .download-container .instruction h1, .download-container .instruction h2 {
        font-size: 21px;
        margin-top: 0;
    }
    .go-img {
        display: none;
    }
    .active-plugin-img-container .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .padding-top-bottom-zero {
        padding-top: 0;
        padding-bottom: 0;
    }
    .instruction-container {
        padding-top: 40px;
    }
    .download-title, .install-info h1 {
        font-size: 25px;
    }
    .theme-logo {
        font-size: 17px;
    }
    .install-info, #mce-EMAIL.download-input, #mc-embedded-subscribe.download-input {
        width: 90%;
    }
    .download-img-container .col-xs-3, .download-head-section .col-xs-3 {
        padding: 0 5px;
    }
    .download-container .instruction h1 {
        font-size: 22px;
    }
    .instruction .custom-signup {
        font-size: 15px;
    }
}
@media (min-width: 557px) {
    .go-img {
        width: 99px;
        vertical-align: sub;
        margin: 0 0 -18px 10px;
    }
    .sublime-text-go-img {
        margin: 0 0 -18px 22px;
    }
}
@media (min-width: 992px) {
    .instruction-container .container {
        width: 814px;
    }
}
@media (max-width: 978px) {
    .navbar-inverse .navbar-collapse {
        float: left!important;
        margin-left: 12px;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 15px;
    }
    .theme-logo {
        font-size: 17px;
    }
}
@media (max-width: 992px) {
    .download-header-img {
        display: none;
    }
}
