a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #428bca;
}
.custom-ul {
    list-style-type: none;
    padding: 0;
}
.inline-block {
    display: inline-block;
}
.navbar-inverse {
    box-shadow: 0 8px 6px -6px #000;
}
.theme-logo {
    font-size: 23px;
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 18px;
}
section.dark, .pricing .dark, .dark {
    background: #393939;
}
.bold {
    font-weight: bold;
}
.nav {
    padding-top: 5px;
}
.pricing .dark {
    color: #FFF;
}
section.dark {
    padding: 60px 0 0px 0;
}
.padding-top-zero, section.padding-top-zero {
    padding-top: 0;
}
.navbar-nav > li > a.custom-btn, .custom-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #FFF;
    margin-top: 6px;
}
.navbar-nav > li > a.custom-login, .custom-login {
    color: #FFF;
    border: 1px solid #ccc;
}
.navbar-nav > li > a.custom-login:hover, .custom-login:hover, .navbar-nav > li > a.custom-signup:hover, .custom-signup:hover {
    opacity: 0.8
}
.navbar-nav > li > a.custom-signup, .navbar-nav > li > a.custom-signup:hover, .signup-button {
    background: #3fc73a;
}
.navbar-nav > li > a.custom-signup, .custom-signup {
    border: 1px solid #3fc73a;
    margin-left: 5px;
    background: #3fc73a;
}
.btn-container .custom-btn {
    width: 100%;
    display: block;
    font-size: 21px;
    cursor: pointer;
}
.custom-modal .modal-header {
    padding: 0 15px;
}
.step-heading {
    margin: 27px 0 0 0;
    font-weight: bold;
    font-size: 15px;
}
.header-text {
    margin-top: 10px;
}
/*sign-up pop-up CSS */

.btn-container .custom-btn:hover {
    color: #fff;
}
.margin-top-five, .custom-error {
    margin-top: 5px;
}
.signup-button {
    /*border: 1px solid #54FFFA;*/
    width: 100%;
}
.btn:hover, .btn:focus, .signup-button {
    color: #FFF;
}
.login-link-container {
    font-size: 18px;
}
.login-link-container, .signup-message {
    margin-top: 15px;
}
.signup-details {
    color: #979797;
}
.custom-modal .modal-content {
    border: 2px solid #000;
    border-radius: 0;
    background: #515151;
}
.custom-modal .modal-header {
    border-bottom: none;
}
.header-text {
    color: #E2E2E2;
}
.custom-modal .modal-header {
    border-bottom: none;
    margin-top: 11px;
}
/*sign-up pop-up CSS */

.pop-up-close {
    margin: 9px 10px 0 0;
    background: url("../images/close.png") no-repeat;
    height: 20px;
    width: 20px;
    border: none;
}
.pop-up-close:hover {
    background: url("../images/close.png") no-repeat;
}
.contact-us-icon {
    width: 50px;
    height: auto;
}
.left {
    float: left;
    display: block;
}
.contact-us-text {
    width: 66%;
    margin-top: 13px;
    margin-left: 10px;
}
.contact-us-grid {
    margin: 26px auto;
}
.margin-zero {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.pricing .custom-plan {
    padding: 40px 0;
    margin: 30px 12px 7px 12px;
}
.custom-heading {
    margin-top: 72px;
}
.privacy-grid {
    margin: 0 auto;
}
.contact-us-grid, .privacy-grid {
    width: 90%;
}
/*download Css*/

.download-title {
    color: #363636;
    font-size: 48px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.download-header-img {
    vertical-align: super;
    width: 100px;
    height: auto;
}
.instruction {
    margin-top: 20px;
    border-radius: 5px;
}
.instruction h1, .install-info h1 {
    font-size: 49px;
}
.instruction .custom-signup {
    font-size: 18px;
    margin-bottom: 5px;
}
.instruction-container {
    padding-top: 30px;
    word-break: break-word;
}
.adjust-width-download #plugins {
    width: 94%;
}
.download-img-container .gap {
    margin-bottom: 20px;
}
#mce-EMAIL {
    width: 260px;
}
.instruction .download-head-section {
    padding: 20px 15px 20px 15px;
}
.instruction h2 {
    margin-top: 0;
}
.download-container section.white {
    padding: 30px 0;
}
.install-info {
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
}
.install-info h1 {
    color: #363636;
}
.install-info {
    padding-top: 30px;
}
.grid {
    display: table;
    display: table;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100%;
}
.grid-row {
    display: table-row;
}
.grid-cell {
    display: table-cell;
    padding: 10px 5px;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    width: 50%;
}
.faq-container span {
    display: block;
}
section.dark-grey {
    background: #656565;
}
.white-background-conatiner {
    background: #FFF;
    color: #393939;
}
.padding-bottom-fifty{
    padding-bottom: 50px;
}