.title-intro{
	font-size:1.8em;
}

.title-intro-2{
	font-size:4em;
	margin-top: -10px;
}

.title-word{
	font-size:4em;
	margin-top: -10px;
}

@media (min-width: 768px) {
	  .title-intro{
		font-size:4.4em;
		letter-spacing: -0.02em;
		margin-top: 20px;
	}

	.title-word{
		font-size:7em;
		margin-top: -40px;
		letter-spacing: 0.05em;
	}
}

@media (min-width: 992px) {
  	.title-intro{
		font-size:3.15em;
		margin-top: 15px;
	}

	.title-word{
		font-size:6em;
		margin-top: -40px;
	}
}

