#headline1 {
	font-size: 2.1em;
	color: #888888;
}

#headline3 {
	font-size: 3.65em;
}

@media (min-width: 768px){
	#headline3 {
		font-size: 4.9em;
		margin-top: -18px;
}
}

h2 {
	font-size: 1.3em;
	color: #888888;
}

.detailed-instructions p{
	font-weight:100;
	font-size: 1.1em;
	letter-spacing: 0.1em;
}

#downloadIntelliJExtensionLink{
	width: 100%;
	text-shadow:  none;
	font-size: 3.1em;
	border-color:  #333333;
	margin-top: 6px;
}

@media (min-width: 1200px){
	#downloadIntelliJExtensionLink{
		width: 100%;
		text-shadow:  none;
		font-size: 1.8em;
		border-color:  #333333;
	
		padding-top: 0px;
		padding-bottom: 5px;
		margin-top:  28px;
}
}

#download{
    font-size: 0.8em;
}

#plugin{
    font-size: 0.6em;
	margin-top: -11px;
}


@media (min-width: 768px){
	#download{
		font-size: 1em;
		float:none;
		clear:float;
	}

	#plugin{
		font-size: 0.7em;
		margin-top: -18px;
	}
}

@media (min-width: 1200px){
	#download{
		font-size: 1.9em;
		float:none;
		clear:float;
	}

	#plugin{
		font-size: 1.4em;
		margin-top: -25px;
	}
}