.headline{
	margin-top:50px;
}

#headline1{
	font-size: 2em;
}

#headline2{
	margin-top: -10px;
	font-size: 1.3em;
	color: #AAAAAA;
}

#headline3{
	margin-top: -10px;
	font-size: 2.5em;
}


.step{
	border:	solid;
	border-radius: 4px;
	border-width: 4px;
	height: 256px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #888888;
}

@media (min-width: 768px){
	.step{
		height: 220px;
	}
}

#subscribe-blurb{
	font-size: 1.3em;
}

#mce-EMAIL {
	border-color: rgba(100, 100, 100, 1) rgba(100, 100, 100, 1) rgba(100, 100, 100, 1);
	width: 150px;
	padding: 5px 8px;
}


#mc-embedded-subscribe{
		border-style: solid solid solid none;
		margin-top: -5px;
		margin-left:-6px;
		border-color: rgba(100, 100, 100, 0.8) rgba(100, 100, 100, 0.8) rgba(100, 100, 100, 0.8);
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		padding: 5px 8px;
	}

#signup{
	padding-top: 20px;
	padding-bottom: 10px;
}

.more-info{
	border-width: 4px;
	border: solid;
	margin-top: 10px;
	margin-bottom: 10px;
}
