.title-intro{
	font-size:3em;
}

.title-word{
	font-size:6.5em;
	margin-top: -25px;
}

@media (min-width: 768px) {
	  .title-intro{
		font-size:5em;
	}

	.title-word{
		font-size:10em;
		margin-top: -50px;
	}
}

@media (min-width: 992px) {
  	.title-intro{
		font-size:5em;
	}

	.title-word{
		font-size:10em;
		margin-top: -50px;
	}
}

@media (min-width: 1200px) {
	.title-intro{
		font-size:5em;
	}

	.title-word{
		font-size:10em;
		margin-top: -50px;
	}
}

.landing-blurb{
	margin-top: 28px;
	font-size: 1.5em;
	text-align: left;
	color: grey;
}

.carousel-inner h1{
	font-size:2em;
}

@media (min-width: 768px) {
	.carousel-inner h1{
		font-size:3em;
	}
}

@media (min-width: 992px) {
	.carousel-inner h1{
		font-size:4em;
	}
}

@media (min-width: 1200px) {
	.carousel-inner h1{
		font-size:4em;
	}
}

.balanced{
	float: left;
	width: 100%;
}

.balancing-line{
	width:100%;
	height:2px;
	margin-top: 35px;
}

@media (min-width: 768px) {
	.balancing-line{
		margin-top: 45px;
	}
}

@media (min-width: 992px) {
	.balancing-line{
		margin-top: 52px;
	}
}

@media (min-width: 1200px) {
	.balancing-line{
		margin-top: 52px;
	}
}

.clear-balanced:after{
	clear: both;
}

.carousel-indicators {
	bottom: -10px;
}