.title-intro{
	font-size:2em;
}

.title-word{
	font-size:4em;
	margin-top: -10px;
}

@media (min-width: 768px) {
	  .title-intro{
		font-size:4.5em;
		letter-spacing: -0.02em;
		margin-top: 20px;
	}

	.title-word{
		font-size:8em;
		margin-top: -40px;
		letter-spacing: 0.05em;
	}
}

@media (min-width: 992px) {
  	.title-intro{
		font-size:4.5em;
		margin-top: 15px;
	}

	.title-word{
		font-size:8em;
		margin-top: -40px;
	}
}

